<html align="center">
  <head>
    <title>ToDo List</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="logo-text">
          <h1 style="color:white">
            {{title}}
          </h1>
          {{subtitle}}
        </div>
      </div>
      <nav></nav>
    </header>
    <div id="main">
      <div class="wrapper" style="position: relative;">
        <app-login></app-login>
  	    <router-outlet></router-outlet>
  	    <app-messages></app-messages>
      </div>
    </div>
  </body>
</html>